[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-mblock5
name: teska-mblock5
description: Installiert mblock
advice: 
version: 5.3.5
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: True
description: Löscht Icon auf dem Desktop
values: ["ja", "nein"]
default: ["nein"]

