[Package]
version: 1
depends:
incremental: False

[Product]
type: localboot
id: teska-mblock5
name: teska-mblock5
description:
advice:
version: 5.1.0
priority: 0
licenseRequired: False
productClasses:
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript:
alwaysScript:
onceScript:
customScript:
userLoginScript:

[Changelog]
teska-mblock5 (V5.1.0-1) stable; urgency=low

        * initial: created by opsi-setup-detector

-- opsisetupdetector.exe <info@uib.de>  25.11.2019 14:17:25
